<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/01/30 14:52:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestFirefox.launchBrowser()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@91161c7]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/01/30 14:52:29</td>   <td>26197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFirefox.reTest()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@91161c7]">reTest</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/01/30 14:52:29</td>   <td>26222</td> <td>&nbsp;</td><td title="&lt;&lt;TestFirefox.terminateBrowser()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@91161c7]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/01/30 14:52:29</td>   <td>26209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestFirefox.testAfterMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@91161c7]">&lt;&lt;testAfterMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/01/30 14:52:29</td>   <td>26197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestFirefox.testBeforeMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@91161c7]">&gt;&gt;testBeforeMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
</table>
