<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestFirefox.launchBrowser(java.lang.String)[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestFirefox.testBeforeMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&gt;&gt;testBeforeMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFirefox.reTest()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">reTest</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestFirefox.testAfterMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&lt;&lt;testAfterMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestFirefox.testBeforeMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&gt;&gt;testBeforeMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFirefox.verifyHomepageTitle(java.lang.String)[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">verifyHomepageTitle</td> 
  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestFirefox.testAfterMethodExecution()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&lt;&lt;testAfterMethodExecution</td> 
<td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/01/30 15:32:37</td>   <td>7476</td> <td>&nbsp;</td><td title="&lt;&lt;TestFirefox.terminateBrowser()[pri:0, instance:com.testng.firefox.pkg.TestFirefox@6d4b1c02]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459672753</td>   <td></td> </tr>
</table>
